
   <div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()" class="login-form">
      <h2>Login</h2>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" class="form-control">
      </div>
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" class="form-control">
      <button
    type="button"
    (click)="togglePassword()"
    class="btn btn-outline-secondary position-absolute end-0 top-50 translate-middle-y me-2"
    style="border: none; background: transparent;"
  >
    <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
  </button>
      
      </div>

      
      
      <button type="submit" class="btn btn-primary">Login</button>

      <button type="button" class="btn btn-secondary" (click)="navigateToRegister()">Register</button>

      <div *ngIf="loginError" class="status-message">
        {{ loginError }}
      </div>
    </form>
  </div>