<div class="home-btn-container">
    <button class="home-btn" (click)="goHome()">
      🏠 Home
    </button>
  </div>
<div class="profile-container">



<div class="rides-container">
  <h2 class="page-title">🚗 My Booked Rides</h2>

  <!-- Loading -->
  <div *ngIf="loading" class="loader-container">
    <div class="spinner"></div>
    <p>Loading your rides...</p>
  </div>

  <!-- No Rides Message -->
  <div *ngIf="!loading && noResultsMessage" class="no-results">
    <p>{{ noResultsMessage }}</p>
  </div>

  <!-- Ride Cards -->
  <div *ngIf="!loading && rides && rides.length > 0" class="ride-grid">
    <div *ngFor="let ride of rides" class="ride-card">
      <div class="ride-header">
        <h3>Booking #{{ ride.bookingId }}</h3>
        <span class="status-badge" 
              [ngClass]="{
                'status-booked': ride.status === 'BOOKED',
                'status-cancelled': ride.status === 'CANCELLED'
              }">
          {{ ride.status }}
        </span>
      </div>

      <div class="ride-details">
        <p><strong>Rider Name:</strong> {{ ride.driverDetails.driverName }}</p>
        <p><strong>From :</strong> {{ ride.rideDetails.fromLocation }}</p>
        <p><strong>To :</strong> {{ ride.rideDetails.toLocation}}</p>
        <p><strong>Car:</strong> {{ ride.rideDetails.carType }}</p>
        <p><strong>Date:</strong> {{ ride.rideDetails.rideDate }}</p>
        <p><strong>Time:</strong> {{ ride.rideDetails.rideTime }}</p>
        <p><strong>Seats Booked:</strong> {{ ride.seatsBooked }}</p>
        <div class="otp-section">
  <p>
    <strong>Your OTP:</strong>
    <span class="otp-box">{{ ride.otp }}</span>
  </p>

  <!-- OTP Not Found -->
  <p *ngIf="ride.otpStatus === 'NotFound'">
    OTP not generated yet.
  </p>

  <!-- Error -->
  <p *ngIf="ride.otpStatus === 'Error'">
    Unable to fetch OTP.
  </p>
</div>

      </div>

      <div class="ride-footer">
        <p><i class="fa-regular fa-calendar"></i> 
            <strong>Booked on:</strong>
          {{ ride.bookedOn | date: 'medium' }}
        </p>
        <button 
    *ngIf="ride.status === 'BOOKED'" 
    class="cancel-btn" 
    (click)="cancelRide(ride.bookingId)">
    Cancel Ride
  </button>
      </div>

      
    </div>
  </div>
</div>
