.forgot-container {
  width: 350px;
  margin: auto;
  margin-top: 50px;
  padding: 25px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  margin-bottom: 10px;
}
